<!doctype HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <style>
        .hidden {
            display: none;
        }

        #progress_bar_wrapper {
            padding: 0;
            margin-left: 15px;
        }
    </style>
    <div class="container">
        <div class="row">
            <h1 class="col-12 mx-5" style="font-size: 6rem;">Models uploader</h1>

            <div class="form-group mb-3 col-12">
                <div class="custom-file">
                    {% csrf_token %}
                  <input type="file" class="custom-file-input" name="file_input" id="file_input" oninput="input_filename();">
                  <label id="file_input_label" class="custom-file-label" for="file_input">Select file</label>
                </div>
            </div>
            <div class="col-12"><button type="button" class="btn btn-primary mx-3 mb-3" onclick="upload_file('/viewer/upload/');" id="upload_button">Upload model</button>
                <div id="alert_place"></div>
            </div>
        </div>
        <div class="row">
            <div class="progress col-9 hidden mb-3" id="progress_bar_wrapper">
                <div class="progress-bar bg-info hidden" role="progressbar" style="width: 0;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" id="progress_bar"></div>
            </div>
            <div class="col-2 hidden" id="progress_percent"></div>
        </div>
        <div class="card" id="card_uploaded"></div>
    </div>
</body>
<script>
    var input = document.getElementById("file_input");
    input.value = "";

    var input_label = document.getElementById("file_input_label");

    var upload_button = document.getElementById("upload_button");

    var alert_place = document.getElementById("alert_place");
    var progress_bar = document.getElementById("progress_bar");
    var progress_bar_wrapper = document.getElementById("progress_bar_wrapper");
    var progress_percent = document.getElementById("progress_percent");

    var card_div = document.getElementById("card_uploaded");

    var csrf = document.getElementsByName("csrfmiddlewaretoken")[0];

    function show_alert(text, alert, remove_timeout=2000) {
        alert_place.innerHTML = `
            <div id="alert" class="alert alert-${alert} alert-dismissible fade show" role="alert">
              <h4><span>${text}</span><h4>
            </div>
          `
        setTimeout(remove_alert, remove_timeout);
    }

    function remove_alert() {
        alert_place.innerHTML = "";
    }

    function progress_move(event) {
        let percent = Math.floor((event.loaded / event.total) * 100);
        progress_bar.style.width = `${percent}%`;
        progress_percent.innerHTML = `${percent}%`;
    }

    function uploaded_show(response) {
        card_div.innerHTML = `<div class="card-header bg-success" style="color: #fff;">
            Success
          </div>
          <div class="card-body">
            <h5 class="card-title">${response.filename}</h5>
            <p class="card-text"><b>File size:</b> ${response.file_size} B</p>
            <p class="card-text"><b>File id:</b> ${response.file_id}</p>
            <a href="${response.file_link}" target="_blank">${response.file_link}</a>
          </div>`;
    }

    function input_filename(){
        let filename = input.files[0].name;

        if (!filename.endsWith('.obj')) {
            show_alert('File must be .obj', 'danger');
            input.value = "";
            return false;
        }

        input_label.innerHTML = filename;
    }

    function upload_file(url){
        if (!input.value) {
            show_alert("No file selected", "warning");
            return false;
        }

        upload_button.classList.add('hidden');

        progress_bar.classList.remove('hidden');
        progress_bar_wrapper.classList.remove('hidden');
        progress_percent.classList.remove('hidden');


        var data = new FormData();

        var request = new XMLHttpRequest();

        request.responseType = "json";

        input.disabled = true;

        var file = input.files[0];

        var filename = file.name;

        var filesize = file.size;

        document.cookie = `filesize=${filesize};csrftoken=${csrf.value}`;
        data.append("file", file);

        request.addEventListener("load", (event) =>{
            if (request.status == 200) {
                uploaded_show(request.response);
            } else {
                show_alert("Something went wrong. Try again later", "danger");
            }
        });
        request.addEventListener("progress", progress_move);

        request.addEventListener("error", (e) => {
            show_alert(`Error uploading file`, "danger");
        });
        
        request.open("post", url);

        request.setRequestHeader("X-CSRFToken", csrf.value);
        
        request.send(data);


    }
</script>
</html>
