<html>
{% load static %}
<head>
    <meta charset=utf-8>
    <title>{{ filename }} VIEW</title>
    <style>
        body { margin: 0; }
        canvas { width: 100%; height: 100% }
    </style>
</head>
<body>
    <canvas id="my_canvas"></canvas>
    <script type="module">
        import * as THREE from "{% static "viewer/node_modules/three/build/three.module.js" %}";
        import {OrbitControls} from "{% static "viewer/node_modules/three/examples/jsm/controls/OrbitControls.js" %}";
        import {OBJLoader2} from "{% static "viewer/node_modules/three/examples/jsm/loaders/OBJLoader2.js" %}";

        function main() {
          // var objCenter = [0, 50, 0];

          const canvas = document.querySelector('#my_canvas');
          const renderer = new THREE.WebGLRenderer({canvas});

          const fov = 75;
          const aspect = 2;
          const near = 0.1;
          const far = 1;
          const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
          camera.position.set(0, 10, 20);


          const controls = new OrbitControls(camera, canvas);
          controls.target.set(0, 5, 0);
          controls.update();

          const scene = new THREE.Scene();
          scene.background = new THREE.Color(0x515151);

          {
            const skyColor = 0xB1E1FF;  // light blue
            const groundColor = 0xB97A20;  // brownish orange
            const intensity = 3;
            const light = new THREE.HemisphereLight(skyColor, groundColor, intensity);
            scene.add(light);
          }

          {
            const color = 0xFFFFFF;
            const intensity = 2;
            const light = new THREE.DirectionalLight(color, intensity);
            light.position.set(0, 10, 0);
            light.target.position.set(-5, 0, 0);
            scene.add(light);
            scene.add(light.target);
          }

          {
            const objLoader = new OBJLoader2();
              objLoader.load("{{ file_url }}", (root) => {
                root.traverse(function (child) {
                        if ( child.isMesh ) {
                            var wireframeGeometry = new THREE.WireframeGeometry( child.geometry );
                            var wireframeMaterial = new THREE.LineBasicMaterial( { color: 0x000000 } );
                            var wireframe = new THREE.LineSegments( wireframeGeometry, wireframeMaterial );
                            child.add(wireframe);
                        }
                });

                console.log(root);
                {
                    let radius = 0;
                    for (let child of root.children) {
                        if ( child.isMesh ) {
                                child.geometry.computeBoundingSphere();
                                radius += child.geometry.boundingSphere.radius;
                            }
                    }
                    camera.far = Math.round(radius) * 3;
                    console.log(radius);
                    camera.updateProjectionMatrix();
                }
                scene.add(root);

              });
          }

          function resizeRendererToDisplaySize(renderer) {
            const canvas = renderer.domElement;
            const width = canvas.clientWidth;
            const height = canvas.clientHeight;
            const needResize = canvas.width !== width || canvas.height !== height;
            if (needResize) {
              renderer.setSize(width, height, false);
            }
            return needResize;
          }

          function render() {

            if (resizeRendererToDisplaySize(renderer)) {
              const canvas = renderer.domElement;
              camera.aspect = canvas.clientWidth / canvas.clientHeight;
              camera.updateProjectionMatrix();
            }

            renderer.render(scene, camera);

            requestAnimationFrame(render);
          }

          requestAnimationFrame(render);
        }

        main();
    </script>
</body>
